@charset "UTF-8";
/*Подключение обнуления (_zero.scss) */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 25px;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Roboto;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  flex: 0 0 auto;
  background-color: #22252C;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header__row {
  display: flex;
}

.header__img {
  padding: 22px 20px 20.38px 0;
}

.header__button {
  margin: 16px 0 17px 0;
  line-height: 12px;
  font-weight: 900;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}
.header__button a {
  display: inline-block;
  border: 1px solid #FFFFFF;
  padding: 17px 35.82px 16px 35.82px;
  color: #FFFFFF;
}
.header__button a:hover {
  background-color: #FFFFFF;
  color: #22252C;
}

.nav-header__row {
  display: flex;
}

.nav-header__item {
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}
.nav-header__item a {
  color: #FFFFFF;
  display: inline-block;
  padding: 32px 35px;
}
.nav-header__item a:hover {
  background-color: #ffffff;
  color: #22252C;
}

.nav-header__row li:last-child {
  color: red;
}

/*.nav-header__item--img {
    max-width: -2px 0 -2.49px 0;
    background: url()
    &:hover {

    }
}*/
.body {
  flex: 1 1 auto;
}

.img-title__row {
  display: flex;
  justify-content: space-between;
}

.img-title__item {
  margin: 50px 0 100px 0;
}

.device__row {
  display: flex;
}

.catalog__row {
  display: flex;
}

.item__row {
  display: flex;
}

.reviews__row {
  display: flex;
}

.item-review__row {
  display: flex;
}

.title-review__row {
  display: flex;
}

.img-rewiew__row {
  display: flex;
}

.info__row {
  display: flex;
}

.footer {
  flex: 0 0 auto;
}

.footer__row {
  display: flex;
}

.logo-footer__row {
  display: flex;
}

.nav-footer__row {
  display: flex;
}