// Обнуляющий CSS стиль ============================================================
@import "_zero";
// ШРИФТЫ ==========================================================================
// Шрифт по умолчанию ==============================================================
// ОБОЛОЧКА ========================================================================
// Шаблоны =========================================================================
// Переменные ======================================================================
// Миксины
// Основной блок контетна ==========================================================
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1180px;
    margin: 0 auto ;
}
